* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  font-size: 100%;
}

body {
  background-color: #f9e4b7;
  font-family: montserrat, sans-serif;
  height: auto;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #f7a41b;
  width: 100%;
  height: 129px;
  padding: 10px;
}

.logo img {
  height: 200px;
  width: 200px;
}

.main-header form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  flex: 1;
  padding: 8px;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 700px;
}

.search-bar input {
  flex: 1;
  padding: 8px 70px;
  color: #af4c0f;
  border: none;
  background: #ffffff;
  text-align: left;
  border-radius: 25px 0 0 25px;
  font-size: 0.9rem;
  font-family: montserrat, sans-serif;
}

.search-bar button {
  padding: 7px 8px;
  background: #ffffff;
  border: none;
  border-radius: 0 25px 25px 0;
  font-size: 0.9rem;
  font-family: montserrat, sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-bar button:hover {
  background: #ffd700;
}

.nav {
  display: flex;
  gap: 10px;
}

.a1 {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  color: #ffffff;
  background: #8d3304;
  text-decoration: none;
  text-align: center;
  transition: background color 0.3s ease;
}

.a1:hover {
  background-color: #ffd700;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.jollof {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: url("Jollof.jpg") no-repeat center center/cover;
  opacity: 85%;
  width: 1163px;
  height: 300px;
  margin-top: 20px;
  gap: 20px;
  box-shadow: 5px 5px 0px #f7a41b;
}


h5 {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #af4c0f;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 4px 0px #CDE834; 
}

h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
  line-height: 1;
}

.head {
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
}

.notes {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}

.heading1, .heading2, .heading3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #f7a41b;
  text-align: center;
}

.category-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 1rem;
  padding: 2%;
}

.category-list li {
  display: grid;
  grid-template-rows: 1fr 0.3fr;
  margin-bottom: 30px;
  align-items: center;
  cursor: pointer;
  color: #af4c0f;
  transition: transform 0.3s ease;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.circle img {
  width: 120px;
  height: 120px;
  border-radius: 20%
}

span {
  font-size: 1rem;
  font-weight: 500;
  color: #af4c0f;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  background: #f7a41b;
  padding: 10%;
  gap: 10%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.conhead {
  font-size: 5rem;
  color: #af4c0f;
  font-weight: 800;
}

h4{
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1;
  color: #af4c0f;
}

.conheadnote {
  font-size: 1.5rem;
  color: #af4c0f;
  font-weight: 300;
  line-height: 1.2;
}

.zobo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.zobo img {
  height: 394px;
  width: 394px;
  border-radius: 50%;
  box-shadow: 5px 4px 0px #ffffff;
}

#banner {
  padding: 20px 30px;
  color: #ffffff;
  background: #8d3304;
  border-radius: 25px 0 0 25px;
  font-size: 2rem;
  font-weight: 800;
}
  
.a2 {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  color: #ffffff;
  background: #8d3304;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.a2:hover {
  background-color: #ffd700;
}

.countries {
  max-width: 600px;
  margin: 20px auto;
}

.country-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 1rem;
  padding: 2%;
}

.country-list li {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
  color: #af4c0f;
  transition: transform 0.3s ease;
}

.country-list li:hover {
  transform: scale(1.05);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 15%;
}

.square img {
  width: 120px;
  height: 120px;
  border-radius: 15%;
  display: block;
}

.country-list li:nth-child(n+5) {
  display: none;
}

.country-list.expanded li {
  display: grid;
}

#see-more-btn {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  color: #ffffff;
  background: #8d3304;
  text-align: center;
  transition: background-color 0.3s ease;
}

#see-more-btn:hover {
  background-color: #ffd700;
  color: #000;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #f7a41b;
  padding: 50px;
  margin-top: 3%;
  border-radius: 50px 50px 0 0;
  gap: 30px;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
} 

.section2, .section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
    
.footer1 {
  font-size: 2.5rem;
  color: #af4c0f;
  line-height: 1.2;
  font-weight: 400;
}

.footer2 {
  font-size: 1.2rem;
  color: #af4c0f;
  font-weight: 700;
}

.footer3 {
  Font-size: 1.5rem;
  color: #af4c0f;
  font-weight: 700;
}

.a3 {
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.footer4 {
  font-size: 0.9rem;
  color: #af4c0f;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section3 input {
  width: 60%;
  height: auto;
  padding: 10px 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 1rem;
}

.section3 button {
  padding: 8.5px 7px;
  border: none;
  background: #8d3304;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section3 button:hover {
  background: #ffd700;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
}

.footer5 {
  font-size: 1.2rem;
  color: #af4c0f;
  font-weight: 500;
}

.footer6 {
  font-size: 1rem;
  color: #af4c0f;
  font-weight: 400;
}

/* SCALING */
@media (max-width: 2000px) {
  .logo img {
    height: 200px;
    width: 200px;
  }

  .search-bar {
    max-width: 400px;
  }

  .jollof {
    width: 90%;
    height: 500px;
  }

  .container {
    flex-direction: row;
    padding: 20px;
  }

  .zobo img {
    height: 300px;
    width: 300px;
  }
}

/* Large Phones */
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    gap: 10px;
    height: auto;
    text-align: center;
  }

  .logo img {
    height: 120px;
    width: 120px;
  }

  .search-bar {
    flex-direction: row;
    max-width: 50%;
    width: 90%;
  }
  
  .search-bar input {
    border-radius: 25px 0 0 25px;
    margin-bottom: 0px; 
  }

  .search-bar button {
    border-radius: 0 25px 25px 0;
    width: 30%;
  }

  .category-list, .country-list {
    flex-wrap: wrap;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .circle img {
    width: 80px;
    height: 80px;
  }
  
  .square {
    width: 100px;
    height: 100px;
  }

  .square img {
    width: 80px;
    height: 80px;
  }

  .container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
  .search-bar {
    flex-direction: row;
    max-width: 100%;
    width: 80%;
  }
  
  .search-bar input {
    border-radius: 25px 0 0 25px;
    margin-bottom: 0px; 
  }

  .search-bar button {
    border-radius: 0 25px 25px 0;
    width: 40%;
  }

  .head {
    font-size: 2rem;
  }
  
  h2, .featured {
    text-align: center;
    font-size: 2rem;
  }

  h4 {
    font-size: 2rem;
  }
  
  h5 {
    font-size: 0.8rem;
  }
  
  .notes {
    font-size: 0.8rem;
    text-align: center;
  }

  .jollof {
    height: 250px;
  }

  .zobo img {
    height: 200px;
    width: 200px;
  }

  .container {
    flex-direction: column;
  }

  .item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .conhead {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  
  .conheadnote {
    font-size: 1.1rem;
  }
  
  .heading1, .heading2, .heading3 {
    font-size: 1.8rem;
  }
  
  span {
    font-size: 0.85rem;
  }
  
  .conview, .view2 {
    font-size: 0.8rem;
  }
  
  .a1, .a2, .a3 {
    font-size: 0.7rem;
    font-weight: 600;
  }

  #banner {
    font-size: 2rem;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 2%;
    gap: 20px;
  }

  .section1, .section2, .section3 {
    width: 100%;
    text-align: center;
  }

  .footer1 {
    font-size: 1.5rem;
  }

  .footer3 {
    font-size: 0.9rem;
  } 

  .a3 {
    font-size: 0.8rem;
  }

  .footer4 {
    font-size: 0.8rem;
  }

  .footer5, .footer6 {
    font-size: 0.8rem;
    text-align: center;
  }
}
}