/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f9e4b7;
  height: auto;
  color: white;
  text-align: center;
  padding: 20px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.logo img {
  width: 200px;
  height: 200px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav {
  text-decoration: none;
  color: #f7a41b;
  font-style: bold;
  font-weight: bold;
  font-size: 1.1rem;
}
  
.nav:hover {
  color: #ffd700;
  transform: scale(1.2);
  transition: 0.3s ease;
}

/* This is for the explore button */
.pad {
  text-decoration: none;
  color: #ffffff;
  font: "Montserrat", sans-serif;
  font-style: bold;
  font-weight: bold;
  border-radius: 25px;
  background: #8d3304;
  padding: 12px 20px;
}

.pad:hover {
  background-color:#ffd700;
  transform: scale(1.2);
  transition: 0.3s ease;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  gap: 10px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #f7a41b;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  margin-right: 42%;
}

.hero h2 {
  font-size: 5.8rem;
  font-weight: 800;
  line-height: 1;
  color: #f7a41b;
  font-family: 'Montserrat', sans-serif;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.hero h3 {
  margin-left: 37%;
  line-height: 2.5;
  font-size: 1rem;
  font-style: italic;
  text-align: left;
  color: #f7a41b;
}

.buttons {
  margin: 20px 0;
}

.buttons a {
  text-decoration: none;
  color: #ffffff;
  background: #8d3304;
  padding: 12px 30px;
  margin: 0 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background: #ffd700;
}

/* Subscribe Section */
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.subscribe p {
  font-size: 1rem;
  text-align: center;
  color: #f7a41b;
  margin-right: 10px;
  margin-bottom: 0px;
}

.subscribe form {
  display: flex;
  font-family: "https://fonts.google.com/share?selection.family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900";
  font-weight: 300;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

.subscribe input[type="email"] {
  padding: 10px 15px;
  width: 300px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 1rem;
}

.subscribe button {
  padding: 6.5px 15px;
  border: none;
  background: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 0 10px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe button:hover {
  background: #ffd700;
}

.subscribe button {
  padding: 6.5px 15px;
  border: none;
  background: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 0 10px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe button:hover {
  background: #ffd700;
}

@media (max-width: 1024px) {
  .main-header {
    flex-direction: column;
  }
 
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 
}

@media (max-width: 600px) {
  .nav, .pad {
    font-size: 0.9rem;
  }

  .hero h1, .hero h2, .hero h3 {
    text-align: center;
  }
  
  .hero h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero h2 {
    font-size: 4.5rem;
  }

  .hero h3 {
    font-size: 0.8rem;
  }

  .buttons a {
    font-size: 0.9rem;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
  }

}




